body{
    font-family: sans-serif;
    color: #999999;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.1)
}


.gage{
    height: 10rem;
    width: 100%;
    padding: 5px
}

.custom-card{
    border-radius: 0;
    
}

.custom-card .card-header{
    background-color: rgba(0, 0, 0, 0.05)
}



.position{
    height: 10rem;
    width: 11rem;
    
}

.dist-text{
    color: #999999;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 12px;
}





/* RESPONSIVE ARROWS */
[class^=arr-]{
    
    border:       solid currentColor;
    border-width: 0 .2em .2em 0;
    display:      inline-block;
    padding:      .20em;
}
.arr-right {transform:rotate(-45deg);  -webkit-transform:rotate(-45deg);}
.arr-left  {transform:rotate(135deg);  -webkit-transform:rotate(135deg);}
.arr-up    {transform:rotate(-135deg); -webkit-transform:rotate(-135deg);}
.arr-down  {transform:rotate(45deg);   -webkit-transform:rotate(45deg);}


@media only screen and (max-width: 600px) {
    .position{
        max-height: 10rem;
        max-width: 11rem;
        
    }
  }









  .led-box {
    height: 70px;
    
    margin: 10px 0;
    float: left;
  }
  
  .led-box p {
    font-size: 12px;
    text-align: center;
    margin: 1em;
  }
  




  .led-red {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #A00;
    border-radius: 50%;
    box-shadow:rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    
    
  }

  .led-active{
    animation: blinkRed 0.5s infinite;
  }

  @keyframes blinkRed {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }